<html>
  <head>
  </head>
  <body>
    <h2><strong>Stupid Coaching</strong></h2>

    <p>Ask your coach anything</p>
    <form action="answer">
      <input class ="text"type="text" name="question">
      <input class ="button" type="submit" value="Ask!">
    </form>
  </body>
</html>
